{% load static %}
<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static 'viewapp/favicon.ico' %}">
    <title>МБОФ им. Александр Невского</title>
    <script defer="defer" src="{% static 'viewapp/js/chunk-vendors.0d802ae1.js' %}"></script>
    <script defer="defer" src="{% static 'viewapp/js/app.10d657a7.js' %}"></script>
    <link href="{% static 'viewapp/css/app.22536b6d.css' %}" rel="stylesheet">
</head>
<body>
    <noscript><strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id="app"></div>
</body>
</html>